.welcome {
    text-align:  center;
    font-size: xxx-large;
    color: indianred;
}
.paragraph {
    text-align: center;
}
h1 {
    font-size: xxx-large;
    color: indianred;
}
h2 {
    font-size: x-large;
    color: grey;
}
